config:
  core.https_address: "{{ hostvars[inventory_hostname]['ansible_env'].SSH_CONNECTION.split(' ')[2] }}:8443"
  core.trust_password: "{{ cluster_password }}"
  images.auto_update_interval: "0"

cluster:
  server_name: {{inventory_hostname}}
  enabled: true
  member_config: []

storage_pools:
- name: default
  config:
    source: /var/snap/lxd/common/lxd/storage-pools/default
  description: "Default storage pool"
  driver: dir